.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-nav {
  display: none;
  height: 40px;
  background-color: steelblue;
  color: white;
}

.mobile-nav div:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.mobile-nav div:last-child {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: steelblue;
  color: white;
  font-weight: 600;
  transition: all 0.3s linear
}

.nav li {
  list-style-type: none;
  padding: 0.5rem 0.75rem;
  color: white;
}


.nav a {
  text-decoration: none;
  color: white;

}

.nav ul {
  display: flex;
}

@media (max-width: 575px) {
  .mobile-nav {
    display: flex;
  }

  .nav {
    position: absolute;
    left: -75vw;
    width: 75vw;
    z-index: 1000;
    height: 100vh;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav.active {
    left: 0px;
  }


}

.footer {
  min-height: 200px;
  background-color: steelblue;
  color: white;
}

.body {
  min-height: calc(100vh - 200px);
}

.contact-table td {
  padding: 16px;
}

.contact-table tr td:first-child {
  vertical-align: top;
}

.parallax {
  background-image: url('https://images.unsplash.com/photo-1509391366360-2e959784a276?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}