body {
  background: linear-gradient(125deg, #fff, #ee7e4a);
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-header {
  padding-top: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-nav {
  display: none;
  height: 40px;
  background-color: steelblue;
  color: white;
}

.mobile-nav div:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.mobile-nav div:last-child {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #f8f9fa;
  font-weight: 600;
  transition: all 0.3s linear
}

.nav li {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 18px;
  color: white;
  display: flex;
  align-items: center;
}


.nav a {
  text-decoration: none;
  color: #475E66!important;
  padding: 0 0 0.5rem;

}

.nav ul {
  display: flex;
  margin-bottom: 0px;
}

@media (max-width: 575px) {
  .mobile-nav {
    display: flex;
  }

  .nav {
    position: absolute;
    left: -75vw;
    width: 75vw;
    z-index: 1000;
    height: 100vh;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav.active {
    left: 0px;
  }


}

.footer {
  min-height: 200px;
  background-color: steelblue;
  color: white;
}

.body {
  min-height: calc(100vh - 200px);
}

.contact-table td {
  padding: 16px;
}

.contact-table tr td:first-child {
  vertical-align: top;
}

.parallax {
  background-image: url('https://images.unsplash.com/photo-1509391366360-2e959784a276?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-container a{
  color: #000;
}

.bg-foot {
  background-color: #063340;
  padding: 0px;
  color: #fff;
}

.social-icon {
  margin: 20px 10px;
  color: #fff;
}

#links {
  padding: 50px;
  background-color: #475E66;
}

#links a {
  color: #fff;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.partners {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.partners div {
  margin: 24px;
  width: 192px;
  border: 0px;
}

.partners img{
  width: 100%;
  height: auto;
}

.list-group a {
  color: #475e66;
}

.carousel .slide{
  background-color: white!important;
}

.center-link {
  margin-top: 28px;
}

i {
  padding: 10px;
}

.car-text {
  text-align: center;
  color: #fff;
  margin-top:100px;
}


  /* Reset Animation For Carousel */

  .wrap {
    height: 500px;
    width: 500px;
    position:relative;
    overflow: hidden;
}

.cards-text {
    height: 100px;
    width: 100px;
    z-index: 1;
    position: absolute;
    left: -200px;
    top: 100px;
    
}

.animate-in {
    animation-duration: 3s;
    animation-name: animate-in;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-delay: 0s;
}

.animate-out {
    animation: animate-out 2s linear;
}

@keyframes animate-out {
    from {
        left: -100px;
    }

    to {
        left: 600px;
    }
}

@keyframes animate-in {
    0% {
        left: -200px;
    }

    25% {
        left: 100px;
    }

    75% {
        left: 100px;
    }

    100% {
        left: 600px;
    }
}